Ceb.MerlinTool.WebAPI/Service References/SalesforceServiceReference/SalesforceWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" />
  <xs:complexType name="SARoles">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="ServiceAccessRoles" nillable="true" type="q1:ArrayOfServiceAccessRole" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SARoles" nillable="true" type="tns:SARoles" />
</xs:schema>