Ceb.MerlinTool.WebAPI/Service References/SalesforceServiceReference/SalesforceWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesforceWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" />
      <xsd:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesforceWebService_GetPrograms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrograms" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetPrograms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramByCode" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramByCEBId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramByCEBId" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramByCEBId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramByCEBIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramsByPracticeCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsByPracticeCode" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramsByPracticeCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsByPracticeCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramsByInstitutionID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsByInstitutionID" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetProgramsByInstitutionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramsByInstitutionIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetInstitutionByCEBId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionByCEBId" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetInstitutionByCEBId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionByCEBIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_SearchInstitutionsByCEBId_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchInstitutionsByCEBId" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_SearchInstitutionsByCEBId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchInstitutionsByCEBIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_SearchInstitutionsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchInstitutionsByName" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_SearchInstitutionsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchInstitutionsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetActiveInstitutions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveInstitutions" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetActiveInstitutions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveInstitutionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetAllInstitutions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInstitutions" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetAllInstitutions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInstitutionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetInstitutions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutions" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetInstitutions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetInstitutionsByProgramCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionsByProgramCode" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetInstitutionsByProgramCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionsByProgramCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetServiceAccessRoleBySubscriptionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAccessRoleBySubscriptionId" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetServiceAccessRoleBySubscriptionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAccessRoleBySubscriptionIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetUsersDetailsByInstitutionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersDetailsByInstitutionId" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetUsersDetailsByInstitutionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersDetailsByInstitutionIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetUsersByInstitutionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByInstitutionId" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetUsersByInstitutionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByInstitutionIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetOpportunity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunity" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetOpportunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetOpportunityByOpportunityCRMId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityByOpportunityCRMId" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetOpportunityByOpportunityCRMId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityByOpportunityCRMIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetPractices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPractices" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetPractices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPracticesResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetPracticeByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPracticeByCode" />
  </wsdl:message>
  <wsdl:message name="ISalesforceWebService_GetPracticeByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPracticeByCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesforceWebService">
    <wsdl:operation name="GetPrograms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetPrograms" message="tns:ISalesforceWebService_GetPrograms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramsResponse" message="tns:ISalesforceWebService_GetPrograms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramByCode" message="tns:ISalesforceWebService_GetProgramByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramByCodeResponse" message="tns:ISalesforceWebService_GetProgramByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramByCEBId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramByCEBId" message="tns:ISalesforceWebService_GetProgramByCEBId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramByCEBIdResponse" message="tns:ISalesforceWebService_GetProgramByCEBId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramsByPracticeCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramsByPracticeCode" message="tns:ISalesforceWebService_GetProgramsByPracticeCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramsByPracticeCodeResponse" message="tns:ISalesforceWebService_GetProgramsByPracticeCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramsByInstitutionID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramsByInstitutionID" message="tns:ISalesforceWebService_GetProgramsByInstitutionID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetProgramsByInstitutionIDResponse" message="tns:ISalesforceWebService_GetProgramsByInstitutionID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstitutionByCEBId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetInstitutionByCEBId" message="tns:ISalesforceWebService_GetInstitutionByCEBId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetInstitutionByCEBIdResponse" message="tns:ISalesforceWebService_GetInstitutionByCEBId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchInstitutionsByCEBId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/SearchInstitutionsByCEBId" message="tns:ISalesforceWebService_SearchInstitutionsByCEBId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/SearchInstitutionsByCEBIdResponse" message="tns:ISalesforceWebService_SearchInstitutionsByCEBId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchInstitutionsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/SearchInstitutionsByName" message="tns:ISalesforceWebService_SearchInstitutionsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/SearchInstitutionsByNameResponse" message="tns:ISalesforceWebService_SearchInstitutionsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveInstitutions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetActiveInstitutions" message="tns:ISalesforceWebService_GetActiveInstitutions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetActiveInstitutionsResponse" message="tns:ISalesforceWebService_GetActiveInstitutions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInstitutions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetAllInstitutions" message="tns:ISalesforceWebService_GetAllInstitutions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetAllInstitutionsResponse" message="tns:ISalesforceWebService_GetAllInstitutions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstitutions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetInstitutions" message="tns:ISalesforceWebService_GetInstitutions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetInstitutionsResponse" message="tns:ISalesforceWebService_GetInstitutions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstitutionsByProgramCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetInstitutionsByProgramCode" message="tns:ISalesforceWebService_GetInstitutionsByProgramCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetInstitutionsByProgramCodeResponse" message="tns:ISalesforceWebService_GetInstitutionsByProgramCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceAccessRoleBySubscriptionId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetServiceAccessRoleBySubscriptionId" message="tns:ISalesforceWebService_GetServiceAccessRoleBySubscriptionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetServiceAccessRoleBySubscriptionIdResponse" message="tns:ISalesforceWebService_GetServiceAccessRoleBySubscriptionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetUserByEmail" message="tns:ISalesforceWebService_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetUserByEmailResponse" message="tns:ISalesforceWebService_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersDetailsByInstitutionId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetUsersDetailsByInstitutionId" message="tns:ISalesforceWebService_GetUsersDetailsByInstitutionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetUsersDetailsByInstitutionIdResponse" message="tns:ISalesforceWebService_GetUsersDetailsByInstitutionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByInstitutionId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetUsersByInstitutionId" message="tns:ISalesforceWebService_GetUsersByInstitutionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetUsersByInstitutionIdResponse" message="tns:ISalesforceWebService_GetUsersByInstitutionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunity">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetOpportunity" message="tns:ISalesforceWebService_GetOpportunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetOpportunityResponse" message="tns:ISalesforceWebService_GetOpportunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityByOpportunityCRMId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetOpportunityByOpportunityCRMId" message="tns:ISalesforceWebService_GetOpportunityByOpportunityCRMId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetOpportunityByOpportunityCRMIdResponse" message="tns:ISalesforceWebService_GetOpportunityByOpportunityCRMId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPractices">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetPractices" message="tns:ISalesforceWebService_GetPractices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetPracticesResponse" message="tns:ISalesforceWebService_GetPractices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPracticeByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesforceWebService/GetPracticeByCode" message="tns:ISalesforceWebService_GetPracticeByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesforceWebService/GetPracticeByCodeResponse" message="tns:ISalesforceWebService_GetPracticeByCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesforceWebService" type="tns:ISalesforceWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPrograms">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetPrograms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramByCode">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetProgramByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramByCEBId">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetProgramByCEBId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramsByPracticeCode">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetProgramsByPracticeCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramsByInstitutionID">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetProgramsByInstitutionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstitutionByCEBId">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetInstitutionByCEBId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInstitutionsByCEBId">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/SearchInstitutionsByCEBId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchInstitutionsByName">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/SearchInstitutionsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveInstitutions">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetActiveInstitutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInstitutions">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetAllInstitutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstitutions">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetInstitutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstitutionsByProgramCode">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetInstitutionsByProgramCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceAccessRoleBySubscriptionId">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetServiceAccessRoleBySubscriptionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersDetailsByInstitutionId">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetUsersDetailsByInstitutionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByInstitutionId">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetUsersByInstitutionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunity">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityByOpportunityCRMId">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetOpportunityByOpportunityCRMId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPractices">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetPractices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPracticeByCode">
      <soap:operation soapAction="http://tempuri.org/ISalesforceWebService/GetPracticeByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesforceWebService">
    <wsdl:port name="BasicHttpBinding_ISalesforceWebService" binding="tns:BasicHttpBinding_ISalesforceWebService">
      <soap:address location="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>