Ceb.MerlinTool/Service References/SalesforceServiceReference/SalesforceWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" />
  <xs:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://metrics-dev.cebglobal.com/SalesforceService/WebServices/SalesforceWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Dto" />
  <xs:element name="GetPrograms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeParentPractice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetProgramsResult" nillable="true" type="q1:ArrayOfProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeParentPractice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetProgramByCodeResult" nillable="true" type="q2:Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramByCEBId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCEBId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeParentPractice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramByCEBIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetProgramByCEBIdResult" nillable="true" type="q3:Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByPracticeCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practiceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeParentPractice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByPracticeCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetProgramsByPracticeCodeResult" nillable="true" type="q4:ArrayOfProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByInstitutionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="institutionCEBId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeParentPractice" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramsByInstitutionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetProgramsByInstitutionIDResult" nillable="true" type="q5:ArrayOfProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionByCEBId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="institutionCEBId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionByCEBIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetInstitutionByCEBIdResult" nillable="true" type="q6:Institution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInstitutionsByCEBId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="institutionCEBIds" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="fetchInstitutionAdditionalData" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInstitutionsByCEBIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="SearchInstitutionsByCEBIdResult" nillable="true" type="q8:ArrayOfInstitution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInstitutionsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="institutionNameSearchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fetchInstitutionAdditionalData" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInstitutionsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="SearchInstitutionsByNameResult" nillable="true" type="q9:ArrayOfInstitution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveInstitutions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveInstitutionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetActiveInstitutionsResult" nillable="true" type="q10:ArrayOfInstitution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstitutions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInstitutionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetAllInstitutionsResult" nillable="true" type="q11:ArrayOfInstitution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetInstitutionsResult" nillable="true" type="q12:ArrayOfInstitution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionsByProgramCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionsByProgramCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetInstitutionsByProgramCodeResult" nillable="true" type="q13:ArrayOfInstitution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceAccessRoleBySubscriptionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriptionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceAccessRoleBySubscriptionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Dto" minOccurs="0" name="GetServiceAccessRoleBySubscriptionIdResult" nillable="true" type="q14:SARoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q15:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersDetailsByInstitutionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="institutionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersDetailsByInstitutionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetUsersDetailsByInstitutionIdResult" nillable="true" type="q16:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByInstitutionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="institutionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByInstitutionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUsersByInstitutionIdResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="institutionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportGenerationDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetOpportunityResult" nillable="true" type="q18:Opportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityByOpportunityCRMId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityCRMId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityByOpportunityCRMIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetOpportunityByOpportunityCRMIdResult" nillable="true" type="q19:Opportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPractices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetPracticesResult" nillable="true" type="q20:ArrayOfPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practiceCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" minOccurs="0" name="GetPracticeByCodeResult" nillable="true" type="q21:Practice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>