Ceb.MerlinTool/Service References/SalesforceServiceReference/SalesforceWebService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CEB.Salesforce.Core.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Program" nillable="true" type="tns:Program" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgram" nillable="true" type="tns:ArrayOfProgram" />
  <xs:complexType name="Program">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEBId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Practice" nillable="true" type="tns:Practice" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebUniqueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Program" nillable="true" type="tns:Program" />
  <xs:complexType name="Practice">
    <xs:sequence>
      <xs:element minOccurs="0" name="PracticeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Practice" nillable="true" type="tns:Practice" />
  <xs:complexType name="Institution">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnnualRevenue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CEBId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalParentCEBId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalParentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalParentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfEmployees" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfMarketers" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebUniqueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Institution" nillable="true" type="tns:Institution" />
  <xs:complexType name="ArrayOfInstitution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Institution" nillable="true" type="tns:Institution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstitution" nillable="true" type="tns:ArrayOfInstitution" />
  <xs:complexType name="ArrayOfServiceAccessRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceAccessRole" nillable="true" type="tns:ServiceAccessRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceAccessRole" nillable="true" type="tns:ArrayOfServiceAccessRole" />
  <xs:complexType name="ServiceAccessRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContacEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberAdminType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SARole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceAccessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceAccessRoleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceAccessStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAccessRole" nillable="true" type="tns:ServiceAccessRole" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="CEBId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Institution" nillable="true" type="tns:Institution" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebUniqueId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Opportunity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveServiceAccessRolesNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Institution" nillable="true" type="tns:Institution" />
      <xs:element minOccurs="0" name="LicensedUsers" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpportunityOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Program" nillable="true" type="tns:Program" />
      <xs:element minOccurs="0" name="ServiceAccessEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServiceAccessGroupNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceAccessStartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Opportunity" nillable="true" type="tns:Opportunity" />
  <xs:complexType name="ArrayOfPractice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Practice" nillable="true" type="tns:Practice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPractice" nillable="true" type="tns:ArrayOfPractice" />
</xs:schema>