Ceb.MerlinTool/Service References/AuthenticationWebService/AuthenticationWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeneralFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralFault" nillable="true" type="tns:GeneralFault" />
</xs:schema>