Ceb.MerlinTool/Service References/AuthenticationWebService/AuthenticationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="CEB.CWS.Infra.WebService.Contracts" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="CEB.CWS.Infra.WebService.Contracts" location="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="Cws.Poc.AuthenticationWebService" type="i0:IAuthenticationWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/Authenticate" style="document" />
      <wsdl:input>
        <soap:header message="i0:IAuthenticationWebService_Authenticate_InputMessage_Headers" part="CebHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralFaultFault">
        <soap:fault use="literal" name="GeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateWebv2">
      <soap:operation soapAction="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateWebv2" style="document" />
      <wsdl:input>
        <soap:header message="i0:IAuthenticationWebService_AuthenticateWebv2_InputMessage_Headers" part="CebHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralFaultFault">
        <soap:fault use="literal" name="GeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/Validate" style="document" />
      <wsdl:input>
        <soap:header message="i0:IAuthenticationWebService_Validate_InputMessage_Headers" part="CebHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralFaultFault">
        <soap:fault use="literal" name="GeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Impersonate">
      <soap:operation soapAction="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/Impersonate" style="document" />
      <wsdl:input>
        <soap:header message="i0:IAuthenticationWebService_Impersonate_InputMessage_Headers" part="CebHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralFaultFault">
        <soap:fault use="literal" name="GeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateToken">
      <soap:operation soapAction="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateToken" style="document" />
      <wsdl:input>
        <soap:header message="i0:IAuthenticationWebService_AuthenticateToken_InputMessage_Headers" part="CebHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralFaultFault">
        <soap:fault use="literal" name="GeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityToken">
      <soap:operation soapAction="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ValidateSecurityToken" style="document" />
      <wsdl:input>
        <soap:header message="i0:IAuthenticationWebService_ValidateSecurityToken_InputMessage_Headers" part="CebHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GeneralFaultFault">
        <soap:fault use="literal" name="GeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationWebService">
    <wsdl:port name="Cws.Poc.AuthenticationWebService" binding="tns:Cws.Poc.AuthenticationWebService">
      <soap:address location="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>