Ceb.MerlinTool/Service References/AuthenticationWebService/AuthenticationWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="CEB.CWS.Infra.WebService.Contracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="CEB.CWS.Infra.WebService.Contracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="CEB.CWS.Infra.WebService.Contracts/Imports">
      <xsd:import schemaLocation="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc?xsd=xsd0" namespace="CEB.CWS.Infra.WebService.Contracts" />
      <xsd:import schemaLocation="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" />
      <xsd:import schemaLocation="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Entities.Authenticate" />
      <xsd:import schemaLocation="http://sbws-dev.executiveboard.com/v2.0/WebServices/AuthenticationWebService.svc?xsd=xsd4" namespace="CEB.CWS.Infra.Contracts.Entities.Authenticate" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationWebService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Authenticate_InputMessage_Headers">
    <wsdl:part name="CebHeader" element="CebHeader" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Authenticate_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" name="detail" element="q1:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateWebv2_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateWebv2" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateWebv2_InputMessage_Headers">
    <wsdl:part name="CebHeader" element="CebHeader" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateWebv2_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateWebv2Response" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateWebv2_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" name="detail" element="q2:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Validate_InputMessage_Headers">
    <wsdl:part name="CebHeader" element="CebHeader" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Validate_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" name="detail" element="q3:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Impersonate_InputMessage">
    <wsdl:part name="parameters" element="tns:Impersonate" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Impersonate_InputMessage_Headers">
    <wsdl:part name="CebHeader" element="CebHeader" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Impersonate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImpersonateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_Impersonate_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" name="detail" element="q4:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateToken" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateToken_InputMessage_Headers">
    <wsdl:part name="CebHeader" element="CebHeader" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_AuthenticateToken_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" name="detail" element="q5:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_ValidateSecurityToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSecurityToken" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_ValidateSecurityToken_InputMessage_Headers">
    <wsdl:part name="CebHeader" element="CebHeader" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_ValidateSecurityToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSecurityTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationWebService_ValidateSecurityToken_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/CEB.CWS.Infra.Contracts.Exceptions" name="detail" element="q6:GeneralFault" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationWebService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/Authenticate" message="tns:IAuthenticationWebService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateResponse" message="tns:IAuthenticationWebService_Authenticate_OutputMessage" />
      <wsdl:fault wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateGeneralFaultFault" name="GeneralFaultFault" message="tns:IAuthenticationWebService_Authenticate_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateWebv2">
      <wsdl:input wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateWebv2" message="tns:IAuthenticationWebService_AuthenticateWebv2_InputMessage" />
      <wsdl:output wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateWebv2Response" message="tns:IAuthenticationWebService_AuthenticateWebv2_OutputMessage" />
      <wsdl:fault wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateWebv2GeneralFaultFault" name="GeneralFaultFault" message="tns:IAuthenticationWebService_AuthenticateWebv2_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/Validate" message="tns:IAuthenticationWebService_Validate_InputMessage" />
      <wsdl:output wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ValidateResponse" message="tns:IAuthenticationWebService_Validate_OutputMessage" />
      <wsdl:fault wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ValidateGeneralFaultFault" name="GeneralFaultFault" message="tns:IAuthenticationWebService_Validate_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Impersonate">
      <wsdl:input wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/Impersonate" message="tns:IAuthenticationWebService_Impersonate_InputMessage" />
      <wsdl:output wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ImpersonateResponse" message="tns:IAuthenticationWebService_Impersonate_OutputMessage" />
      <wsdl:fault wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ImpersonateGeneralFaultFault" name="GeneralFaultFault" message="tns:IAuthenticationWebService_Impersonate_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateToken">
      <wsdl:input wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateToken" message="tns:IAuthenticationWebService_AuthenticateToken_InputMessage" />
      <wsdl:output wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateTokenResponse" message="tns:IAuthenticationWebService_AuthenticateToken_OutputMessage" />
      <wsdl:fault wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/AuthenticateTokenGeneralFaultFault" name="GeneralFaultFault" message="tns:IAuthenticationWebService_AuthenticateToken_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityToken">
      <wsdl:input wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ValidateSecurityToken" message="tns:IAuthenticationWebService_ValidateSecurityToken_InputMessage" />
      <wsdl:output wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ValidateSecurityTokenResponse" message="tns:IAuthenticationWebService_ValidateSecurityToken_OutputMessage" />
      <wsdl:fault wsaw:Action="CEB.CWS.Infra.WebService.Contracts/IAuthenticationWebService/ValidateSecurityTokenGeneralFaultFault" name="GeneralFaultFault" message="tns:IAuthenticationWebService_ValidateSecurityToken_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>