Ceb.MerlinTool/Service References/AuthenticationWebService/AuthenticationWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CEB.CWS.Infra.Contracts.Entities.Authenticate" elementFormDefault="qualified" targetNamespace="CEB.CWS.Infra.Contracts.Entities.Authenticate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmEmailPasswordToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExistingConfirmEmailPasswordToken" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoginToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiresEmailConfirmation" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SBWSSecurityToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityTokenExpiryDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResponse" nillable="true" type="tns:AuthenticationResponse" />
  <xs:complexType name="UserCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCredentials" nillable="true" type="tns:UserCredentials" />
  <xs:complexType name="AuthenticateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateResult" nillable="true" type="tns:AuthenticateResult" />
  <xs:complexType name="ValidateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValidSecurityToken" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateResult" nillable="true" type="tns:ValidateResult" />
  <xs:complexType name="ValidateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateResponse" nillable="true" type="tns:ValidateResponse" />
</xs:schema>